beautifulsoup4==4.11.1
html2text==2024.2.26
langchain==0.2.1
langchain_mistralai==0.1.7
pandas==1.4.4
psycopg2==2.9.9
python-dotenv==1.0.1
Requests==2.32.2
openai
streamlit>=1.28
trubrics>=1.4.3
streamlit-feedback
langchain-core>=0.1.21
langchain-groq==0.1.4
langsmith==0.1.17
groq==0.4.1
mistralai==0.2.0